/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

#dashboard-footer{
    background-color: #10253F;
    padding: 1em;
    color: #fff;
    text-align: center;
}

.bg-color {
    background-image: linear-gradient(#386194, white);

}

.jumbotron {
    background-color: #10253F;
    border-radius: 25px;
}

.collapse-custom{
    padding: 0 1.25rem 0;
}

.dashboard-icon{
    color: #7f7f7f;
    font-size: 3rem;
}

.center-icon {
    color: #e0d8d8;
    text-align: center;
    width: 65;
    display: block;
    margin-top: -1.5cm;
    font-size: 4rem;
}

.dashboard-font {
    font-weight: 800;
    color: #fff;
    font-family: 'Open Sans', 'Tahoma', 'Verdana', sans-serif;
}

.dashboard-par {
    color: #fff;
    margin-bottom: -0.5cm;
}

.dashboard-title {
    font-weight: 800;
    font-family: 'Open Sans', 'Tahoma', 'Verdana', sans-serif;
    color: #7f7f7f;
}

.dashboard-text {
    margin-top: -0.3cm;
    color: #7f7f7f;
}

.catalog {
    border-radius: 20px;
    border: #10253F;
}

.dashboard-btn {
    background-color: #FFC000;
    padding: .5rem 1.5rem;
    border-radius: 24px;
    color: #10253F;
    font-size: .9rem;
    letter-spacing: .5px;
    text-decoration: none;
}

.dashboard-btn2 {
    background-color: #10253F;
    padding: .5rem 1rem;
    border-radius: 24px;
    color: #FFC000;
    font-size: .9rem;
    letter-spacing: .5px;
    text-decoration: none;   
}

.dashboard-round {
    display: inline-block;
    border: 2px solid #10253F;
    border-radius: 2rem;
    padding: .5rem 1.25rem;
    font-family: 'Open Sans', 'Helvetica', 'Tahoma', sans-serif;
    color:#10253F;
    font-weight: 800;
    margin-top: 0.5cm;
}

.thead-color {
    background-color: #10253F;
}

