.navbar{
    height: 80px;
}
#mainFooter{
    background-color: #d9d7d7;
}

.font1{
    font-family: 'Open Sans', 'Helvetica', 'Tahoma', sans-serif;
}

.roundb{
    border: 2px solid gray;
    border-radius: 12px; 
    padding: 32px, 72px, 32px, 72px;
}
.btn-main{
    background-color: #FC8495;
    padding: 8px 32px 8px 32px;
    /* top, right, bottom, left */
    border-radius: 20px;
    color: white;
}

.icon{
    font-size: 80px;
    color: #FC8495;
}