{% extends 'admin/dashboard_template.html' %}

{% block head %}
<title>Product Reviews - TheDashboard</title>
{% endblock %}

{% block body %}
<div class="container">
    <h3 class="dashboard-round"><i class="bi bi-chat-square-text"></i> All Reviews</h3>
    <div>
        <a href="/admin/reviews" class="btn btn-light dashboard-btn">Go Back</a>
        <button data-target="#deleteAlert" data-toggle="modal" class="btn btn-outline-danger">Delete All</button>
    </div>
</div>

<div class="container mt-3">
    <div class="row">
        {% if reviewCount < 1%}
        <div class="alert alert-info" role="alert">
            <i class="bi bi-chat-square-dots"></i>
            <p>Hmm. Looks like there are no reviews for this product...yet.</p>
        </div>
        {% endif %}
        {% for review in reviews %}
        <div class="col-md-6 mb-3">
            <div class="card">
                <h5 class="card-header"><i class="bi bi-person-circle "></i> {{review.username}}</h5>
                <div class="card-body">
                    <h6 class="card-subtitle text-muted mb-2"><i class="bi bi-clock"></i> {{review.datePosted}}</h6>
                    <p class="card-text">{{review.feedback}}</p>
                </div>
                <div class="card-footer">
                    <h6>{{review.productName}}</h6>
                    <h6 class="d-inline"><i class="bi bi-star-fill"></i> Rating: {{review.rating}}</h6>
                    <button type="button" class="btn btn-danger float-right" data-toggle="modal"
                        data-target="#deleteOneAlert" onclick="setReviewToDelete('{{review._id}}')">Delete</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- Alert Modal -->
    <div class="modal fade" id="deleteOneAlert" tabindex="-1" aria-labelledby="deleteOneAlert" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Item</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Do you want to delete this item?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link text-secondary" data-dismiss="modal">Close</button>
                    <a href="" class="btn btn-danger delete-post-btn">Delete</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Alert Popup -->
    <div class="modal fade" id="deleteAlert" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete All Data</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete all data? <strong>This cannot be undone!</strong>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                    <a href="{{url_for('deleteAllReviews')}}" class="btn btn-danger">Delete All</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="margin-bottom: 25em;"></div>

{% endblock %}