{% extends 'admin/dashboard_template.html' %}
{% block head %}
<title>Customer Info - TheDashboard</title>
{% endblock %}

{% block body %}

<div class="container">
    <h1>Customer Info</h1>

    <div class="row">
        <div class="col">
            <table class="table table-sm table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>Type</th>
                        <th>Data</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">First Name</th>
                        <td>{{record.firstName}}</td>
                    </tr>
                    <tr>
                        <th>Last Name</th>
                        <td>{{record.lastName}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Email</th>
                        <td>{{record.email}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Username</th>
                        <td>{{record.username}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Phone 1</th>
                        <td>{{record.phone1}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Phone 2</th>
                        <td>{{record.phone2}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Billing Address</th>
                        <td>{{record.billingAddress}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Shipping Address</th>
                        <td>{{record.shippingAddress}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Region</th>
                        <td>{{record.region}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Province</th>
                        <td>{{record.province}}</td>
                    </tr>
                    <tr>
                        <th scope="row">City/Town</th>
                        <td>{{record.city}}</td>
                    </tr>
                    <tr>
                        <th scope="row">ZIP Code</th>
                        <td>{{record.zipcode}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Courier</th>
                        <td>{{record.courier}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Payment Method</th>
                        <td>{{record.paymentMethod}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="{{url_for('viewRecords')}}" class="btn btn-primary">Go Back</a>
                </div>
              </div>
        </div>
    </div>
</div>
{% endblock %}