{% extends 'admin/dashboard_template.html' %}

{% block head %}
<title>Customer Records - TheDashboard</title>
{% endblock %}

{% block body %}
<div class="container">
    <h2 class="dashboard-round">Customer Records</h2>
    <div>
        <a href="/admin/dashboard" class="btn btn-light dashboard-btn">Go Back</a>
        <a href="{{url_for('deleteAllRecords')}}" class="btn btn-outline-danger">Delete All</a>
        <label for="search" class="d-block">Search Records</label>
        <input type="search" name="search" id="search" class="form-control" placeholder="Type to search">
    </div>
</div>
<div class="container">
    <table class="table table-sm table-hover table-bordered mt-3">
        <thead class="thead-color dashboard-font">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone1</th>
                <th>Billing Address</th>
                <th>Shipping Address</th>
                <th>Region</th>
                <th>City</th>
                <th>ZIP</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for record in records %}
            <tr>
                <td>{{record.firstName}}</td>
                <td>{{record.lastName}}</td>
                <td>{{record.phone1}}</td>
                <td>{{record.billingAddress}}</td>
                <td>{{record.shippingAddress}}</td>
                <td>{{record.region}}</td>
                <td>{{record.city}}</td>
                <td>{{record.zipcode}}</td>
                <td class="text-center">
                    <a href="/admin/view/records/{{record._id}}" class="btn btn-light dashboard-btn">More details</a>
                    <a href="/admin/delete_record/{{record._id}}" class="btn btn-link text-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div style="margin-top: 100px;"></div>

{% endblock %}