{% extends 'admin/dashboard_template.html' %}

{% block head %}
<title>Customer Records - TheDashboard</title>
{% endblock %}

{% block body %}
<div class="container">
    <h2 class="dashboard-round"><i class="bi bi-file-bar-graph"></i> Customer Records</h2>
    <div>
        <a href="{{url_for('dashboard')}}" class="btn btn-light dashboard-btn">Go Back</a>
        <button data-target="#deleteAlert" data-toggle="modal" class="btn btn-outline-danger">Delete All</button>
        <label for="search" class="d-block">Search Records</label>
        <input type="search" name="search" class="form-control searchBar" placeholder="Type to search">
    </div>
</div>
<div class="container table-responsive-sm">
    <table class="table table-sm table-hover table-bordered mt-3">
        <thead class="thead-color dashboard-font">
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Billing Address</th>
                <th scope="col">Shipping Address</th>
                <th scope="col">Region</th>
                <th scope="col">City</th>
                <th scope="col">Date</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody class="records">
            {% for record in records %}
            <tr>
                <td>{{record.firstName}}</td>
                <td>{{record.lastName}}</td>
                <td>{{record.billingAddress}}</td>
                <td>{{record.shippingAddress}}</td>
                <td>{{record.region}}</td>
                <td>{{record.city}}</td>
                <td>{{record.orderDate}}</td>
                <td class="text-center">
                    <a href="/admin/view/records/{{record._id}}" class="btn btn-light dashboard-btn">More details</a>
                    <button class="btn btn-link text-danger" data-toggle="modal" data-target="#deleteOneAlert"
                        onclick="setRecordToDelete('{{record._id}}')">Delete</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- Alert Modal -->
    <div class="modal fade" id="deleteOneAlert" tabindex="-1" aria-labelledby="deleteOneAlert" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Record</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Do you want to delete this item?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link text-secondary" data-dismiss="modal">Close</button>
                    <a href="" class="btn btn-danger delete-post-btn">Delete</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Alert Popup -->
    <div class="modal fade" id="deleteAlert" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete All Records</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete all records? <strong>This cannot be undone!</strong>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                    <a href="{{url_for('deleteAllRecords')}}" class="btn btn-danger">Delete All</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="margin-top: 19em;"></div>

{% endblock %}