{% extends 'admin/dashboard_template.html' %}

{% block head %}
<title>TheDashboard</title>
<style>
    body {
        background-color: hsl(0, 0%, 96%);
    }
    #signOut{
        display: none;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center mt-5 login-font">Sign in to TheDashboard</h1>
    <div class="custom-container">
        <div class="login-card mt-3 shadow">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{message}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <form action="/admin/login" method="POST">
                <label for="username" class="login-par">Username</label>
                <input type="text" name="username" id="username" class="form-control mb-3">
                <label for="password" class="login-par">Password</label>
                <input type="password" name="password" id="password" class="form-control mb-3">
                <input type="submit" value="Sign in" class="btn btn-block dashboard-btn">

            </form>
        </div>
    </div>
</div>
<div style="margin-bottom: 7.5em;"></div>
{% endblock %}