{% extends 'admin/dashboard_template.html' %}

{% block head %}
<title>Product Reviews - TheDashboard</title>
{% endblock %}

{% block body %}
<div class="container">
    <h2 class="dashboard-round">Reviews</h2>
    <br>
    <a href="/admin/reviews" class="btn btn-light dashboard-btn">Go Back</a>
</div>

<div class="container mt-3">
    <div class="row">
        {% for review in reviews %}
        {% if review.productName == product.productName %}
        <div class="col-md-6">
            <div class="card">
                <h5 class="card-header"><i class="bi bi-person-circle "></i> {{review.username}}</h5>
                <div class="card-body">
                    <h6 class="card-subtitle text-muted mb-2"><i class="bi bi-clock"></i> {{review.datePosted}}</h6>
                    <p class="card-text">{{review.feedback}}</p>
                </div>
                <div class="card-footer">
                    <h6>Rating: {{review.rating}}</h6>
                    <a href="#" class="btn btn-danger float-right">Delete</a>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

<div style="margin-bottom: 25em;"></div>

{% endblock %}