{% extends 'admin/dashboard_template.html' %}

{% block head %}
<title>View - TheDashboard</title>
{% endblock %}

{% block body %}
<div class="container mt-3 mb-3">
    <div class="dropdown mb-4 text-right">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            More Options
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#deleteAlert" data-toggle="modal" role="button">Delete all</a>
        </div>
    </div>
    <div class="row">
        {% for product in products %}
        <div class="col-md-3">
            <div class="card" style="width: 16rem;">
                <img src="{{product.imageURL}}" class="card-img-top" alt="{{product.productName}}"
                    style="max-height: 18rem;">
                <div class="card-body">
                    <h6 class="card-title">{{product.productName}}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">{{product.productCategory}}</h6>
                    <h6 class="card-subtitle mb-2"><i class="bi bi-tag-fill"></i>₱{{product.price}}</h6>
                </div>
                <div class="card-footer bg-black-50">
                    <a href="/admin/edit_product/{{product._id}}" class="btn btn-primary">Edit Info</a>
                    <a href="/admin/delete_product/{{product._id}}" class="btn btn-outline-danger">Delete</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- Alert Popup -->
    <div class="modal fade" id="deleteAlert" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Delete All Data</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Are you sure you want to delete all data? <strong>This cannot be undone!</strong>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn link" data-dismiss="modal">Close</button>
              <a href="/admin/delete_data_all" class="btn btn-danger">Delete All</a>
            </div>
          </div>
        </div>
      </div>
</div>
{% endblock %}