{% extends 'base.html'%}

{% block head %}
<title>Oops! Page not Found</title>
{% endblock %}

{% block body %}
<div class="container-fluid text-center">
    <h1 id="error_msg" class="display-3">404</h1>
    <img src="https://memegenerator.net/img/instances/47499010.jpg" alt="404 alert">
    <i class="bi bi-x-circle d-block" style="font-size: 40px;"></i>
    <h3 class="mb-3">This page may be broken. <br> 
        Hang on while we fix things for you</h3>
    <a href="/" class="btn btn-outline-dark btn-lg">Go to Homepage</a>
</div>
{% endblock %}

