{% extends 'base.html' %}

{% block head %}
<title>About Us | Miss Jhaz Cosmetics</title>
<meta id="page-data" data-pageid="5" />
{% endblock %}

{% block body %}
<div class="container">
    <img src="https://raw.githubusercontent.com/jjpormento21/project-photos-webdev/main/Miss%20Jhaz%20Beauty%20Cosmetics/Cover%20_%20scan%20_%20logo/Miss%20Jhaz.png"
        alt="Miss Jhaz Beauty Cosmetics" class="title-logo">
    <div>
        <p class="par1 mt-4" style="margin-left: 4rem;">The 'Miss Jhaz Beauty Cosmetics' lady isn’t one who loans
            herself to society’s stereotypes. She knows her brain. She chooses when she needs to adjust and when to hold fast. She has a center of vast quality that shows itself in
            various ways.</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="https://raw.githubusercontent.com/jjpormento21/project-photos-webdev/main/Miss%20Jhaz%20Beauty%20Cosmetics/Cover%20_%20scan%20_%20logo/Logo.jpg"
                alt="Logo" class="pic-logo">
            <p class="par1 mt-4 m-title" style="margin-left: 4.5rem;">Our aim is to serve our customers with
                integrity by being loyal to them with satisfaction.
                Our main objective is to deliver the highest levels
                of professionalism and patience.</p>
            <p class="par1 mt-5 m-title" style="margin-left: 4.5rem;"> Miss Jhaz Beauty Cosmetics beautifying
                agents advancement forms use logical research to
                guarantee that our items contain top notch fixings
                that advance and sustain the skin. The outcome is a
                delightfully useful item that is securely perfect with
                for all intents and purposes each skin type.</p>
        </div>
        <div class="col-md-6">
            <img src="https://raw.githubusercontent.com/jjpormento21/project-photos-webdev/main/Miss%20Jhaz%20Beauty%20Cosmetics/E172858F-67F0-4262-870D-7A12D0CE5495.jpg"
                alt="CEO" class="CEO center">
            <h5 class="font2 mt-4 text-center">Jastine Valero</h5>
            <p class="par1 text-center">Miss Jhaz Beauty Cosmetics CEO</p>
        </div>
    </div>
</div>

<hr>

<div class="container mt-3">
    <div class="row">
        <div class="col-md-6 mt-3 mb-2">
            <h1 class="font1">Developers' 
                <br>Profile</h1>
        </div>
        <div class="col-md-6">
            <p class="par1 mt-3 mb-3" style="text-align: right;">Get to know more about our developers and feel free to
                message and give any recommendations. We would like to hear from you.</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card-deck">
                <div class="card mb-3 mt-3" style="border-style: none;">
                    <div class="shadow p-3 card-body pt-0" style="border-radius: 1.5rem;background-color: hsl(0, 60%, 98%);">
                        <img src="https://raw.githubusercontent.com/jjpormento21/project-photos-webdev/main/Miss%20Jhaz%20Beauty%20Cosmetics/199745001_790924574917044_6688101836081949730_n.jpg"
                        alt="JJ Pormento" class="img-size3 center">
                        <h3 class="card-title font1 mt-3 m-title">JONAH JAMES PORMENTO</h3>
                        <h6 class="font2 m-title">TEAM LEADER/BACK-END DEVELOPER</h6>
                        <i class="bi bi-envelope-fill message-icon-about m-title mb-5"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card-deck">
                <div class="card mb-3 mt-3" style="border-style: none;">
                    <div class="shadow p-3 card-body pt-0" style="border-radius: 1.5rem; background-color: hsl(0, 60%, 98%);">
                        <img src="https://raw.githubusercontent.com/jjpormento21/project-photos-webdev/main/Miss%20Jhaz%20Beauty%20Cosmetics/199768345_942328863287686_3965725367144538301_n.jpg"
                        alt="Julia Carabaño" class="img-size3 center">
                        <h3 class="card-title font1 mt-3 m-title">JULIA CARABAÑO</h3>
                        <h6 class="font2 m-title">SECONDARY DEVELOPER/DOCUMENTATION SPECIALIST</h6>
                        <i class="bi bi-envelope-fill message-icon-about m-title mb-5"></i>
                    </div>
                </div>
            </div>
        </div>
            <div class="col-md-6">
                <div class="card-deck">
                    <div class="card mb-3 mt-3" style="border-style: none;">
                        <div class="shadow p-3 card-body pt-0" style="border-radius: 1.5rem;background-color: hsl(0, 60%, 98%);">
                            <img src="https://raw.githubusercontent.com/jjpormento21/project-photos-webdev/main/Miss%20Jhaz%20Beauty%20Cosmetics/188815777_978372612929586_1399970486282708918_n.jpg"
                            alt="Joshreen Reyes" class="img-size3 center">
                            <h3 class="card-title font1 mt-3 m-title">JOSHREEN REYES</h3>
                            <h6 class="font2 m-title">FRONT-END DEVELOPER</h6>
                            <i class="bi bi-envelope-fill message-icon-about m-title mb-5"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card-deck">
                    <div class="card mb-3 mt-3" style="border-style: none;">
                        <div class="shadow p-3 card-body pt-0" style="border-radius: 1.5rem; background-color: hsl(0, 60%, 98%);">
                            <img src="https://raw.githubusercontent.com/jjpormento21/project-photos-webdev/main/Miss%20Jhaz%20Beauty%20Cosmetics/188870245_4254213638004082_5868078760534254236_n.jpg"
                            alt="Jessa Mae Nopueto" class="img-size3 center">
                            <h3 class="card-title font1 mt-3 m-title">JESSA MAE NOPUETO</h3>
                            <h6 class="font2 m-title">UX DESIGNER</h6>
                            <i class="bi bi-envelope-fill message-icon-about m-title mb-5"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card-deck">
                    <div class="card mb-3 mt-3" style="border-style: none;">
                        <div class="shadow p-3 card-body pt-0" style="border-radius: 1.5rem;background-color: hsl(0, 60%, 98%);">
                            <img src="https://raw.githubusercontent.com/jjpormento21/project-photos-webdev/main/Miss%20Jhaz%20Beauty%20Cosmetics/187146180_291478889287044_314538694655535209_n.jpg"
                            alt="Jirah Kate Solano" class="img-size3 center">
                            <h3 class="card-title font1 mt-3 m-title">JIRAH KATE SOLANO</h3>
                            <h6 class="font2 m-title">DATA SPECIALIST</h6>
                            <i class="bi bi-envelope-fill message-icon-about m-title mb-5"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card-deck">
                    <div class="card mb-3 mt-3" style="border-style: none;">
                        <div class="shadow p-3 card-body pt-0" style="border-radius: 1.5rem; background-color: hsl(0, 60%, 98%);">
                            <img src="https://raw.githubusercontent.com/jjpormento21/project-photos-webdev/main/Miss%20Jhaz%20Beauty%20Cosmetics/199299413_1121465555042893_3864682245258467149_n.jpg"
                            alt="Theodore Galve" class="img-size3 center">
                            <h3 class="card-title font1 mt-3 m-title">THEODORE WALTER GALVE</h3>
                            <h6 class="font2 m-title">UI DESIGNER</h6>
                            <i class="bi bi-envelope-fill message-icon-about m-title mb-5"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}