{% extends 'base.html' %}

{% block head %}
<title>About Us | Miss Jhaz Cosmetics</title>
<meta id="page-data" data-pageid="5" />
{% endblock %}

{% block body %}
<div class="container">
    <img src="https://raw.githubusercontent.com/jjpormento21/project-photos-webdev/main/Miss%20Jhaz%20Beauty%20Cosmetics/Cover%20_%20scan%20_%20logo/Miss%20Jhaz.png"
        alt="Miss Jhazz Beauty Cosmetics" class="title-logo">
    <div>
        <p class="par1 mt-4" style="margin-left: 4rem;">The 'Miss Jhazz Beauty Cosmetics' lady isn’t one who loans
            herself to society’s stereotypes. She knows her brain. She chooses when she needs to adjust and when to hold fast. She has a center of vast quality that shows itself in
            various ways.</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="https://raw.githubusercontent.com/jjpormento21/project-photos-webdev/main/Miss%20Jhaz%20Beauty%20Cosmetics/Cover%20_%20scan%20_%20logo/Logo.jpg"
                alt="Logo" class="pic-logo">
            <p class="par1 mt-4 m-title" style="margin-left: 4.5rem;">Our aim is to serve our customers with
                integrity by being loyal to them with satisfaction.
                Our main objective is to deliver the highest levels
                of professionalism and patience.</p>
            <p class="par1 mt-5 m-title" style="margin-left: 4.5rem;"> Miss Jhazz Beauty Cosmetic beautifying
                agents advancement forms use logical research to
                guarantee that our items contain top notch fixings
                that advance and sustain the skin. The outcome is a
                delightfully useful item that is securely perfect with
                for all intents and purposes each skin type.</p>
        </div>
        <div class="col-md-6">
            <img src="https://raw.githubusercontent.com/jjpormento21/project-photos-webdev/main/Miss%20Jhaz%20Beauty%20Cosmetics/E172858F-67F0-4262-870D-7A12D0CE5495.jpg"
                alt="CEO" class="CEO center">
            <h5 class="font2 mt-4 text-center">Jastine Valero</h5>
            <p class="par1 text-center">Miss Jhazz Beauty Cosmetics CEO</p>
        </div>
    </div>
</div>
{% endblock %}