<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/main.css')}}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
  {% block head %} {% endblock %}
</head>

<body>
  <nav class="navbar navbar-expand-lg sticky-top bg-white navbar-light" id="mainNav">
    <a class="navbar-brand" href="/"><img
        src="https://raw.githubusercontent.com/jjpormento21/project-photos-webdev/main/Miss%20Jhaz%20Beauty%20Cosmetics/Cover%20_%20scan%20_%20logo/Miss%20Jhaz2.png"
        alt="Logo" class="nav-logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item ">
          <a class="nav-link navbar-font mt-2" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navbar-font mt-2" href="/shop">Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navbar-font mt-2" href="/featured">Featured</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navbar-font mt-2" href="/about_us">About Us</a>
        </li>
        <li class="nav-item"><a href="/feedback_hub" class="nav-link navbar-font mt-2"style="color: #FC8495;">Feedback</a></li>
        <li class="nav-item"><a href="/cart-session" class="nav-link"><i class="bi bi-cart-fill nav-icon"></i>
        </a></li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <hr style="background-color: #FC8495;">
  </div>

  {% block body %} {% endblock %}

  <footer id="mainFooter" class="mt-5">
    <div class="container pb-2">
      <div class="row">
        <div class="col-md-3" id="createFeedback">
          <h3 class="text-secondary-custom">Create Feedback</h3>
          <form action="#">
            <textarea name="feedback" id="feedback" cols="30" rows="3" class="form-control mb-2"
              placeholder="Type your feedback here"></textarea>
            <input class="form-control mb-2" type="email" name="email" id="email" placeholder="E-mail (Optional)">
            <button type="submit" class="btn btn-lg btn-main mt-3">Submit</button>
          </form>
        </div>

        <div class="col-md-3 text-center" id="recents">
          <h3 class="text-secondary-custom">Recents</h3>
        </div>

        <div class="col-md-2" id="importantLinks">
          <h3 class="text-secondary-custom text-center">Important Links</h3>
          <ul class="list-unstyled ml-2 text-secondary">
            <a href="/">
              <li>Home</li>
            </a>
            <a href="/shop">
              <li>Shop</li>
            </a>
            <a href="/featured">
              <li>Featured</li>
            </a>
            <a href="/about_us">
              <li>About Us</li>
            </a>
            <a href="/feedback_hub">
              <li>Feedback Hub</li>
            </a>
          </ul>
        </div>

        <div class="col-md-4" id="contactInfo">
          <h3 class="text-secondary-custom text-center">Contact Us</h3>
          <div class="ml-5">
            <i class="bi bi-geo-alt-fill footer-icon"></i>
            <p class="d-inline text-secondary footer-info">
              La Paz, Iloilo City
            </p>
          </div>

          <div class="ml-5">
            <i class="bi bi-envelope-fill footer-icon"></i>
            <p class="d-inline text-secondary footer-info">
              jhazcosmetics@gmail.com
            </p>
          </div>

          <div class="ml-5">
            <i class="bi bi-telephone-fill footer-icon"></i>
            <p class="d-inline text-secondary footer-info">
              09123549326 Smart
            </p>
          </div>

          <div class="ml-5">
            <i class="bi bi-telephone-fill footer-icon"></i>
            <p class="d-inline text-secondary footer-info">
              09611482547 Globe
            </p>
          </div>

          <h6 class="text-secondary-custom text-center">Follow Us!</h6>
          <div class="text-center">
            <i class="footer-social-icons mr-4 bi bi-facebook" data-toggle="tooltip" data-placement="bottom"
              title="Facebook"></i>
            <i class="footer-social-icons mr-4 bi bi-instagram" data-toggle="tooltip" data-placement="bottom"
              title="Instagram"></i>
            <i class="footer-social-icons mr-4 bi bi-shop" data-toggle="tooltip" data-placement="bottom"
              title="Shopee"></i>
          </div>
        </div>

      </div>
    </div>

    <div id="footerCopyright">
      &copy;2021 Miss Jhaz Beauty Cosmetics Inc.
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename = 'js/bootstrap.min.js')}}"></script>
  <script src="{{ url_for('static', filename = 'js/main.js')}}"></script>
</body>

</html>