{% extends 'base.html' %}
{% block head %}
<title>Shop | Miss Jhaz Cosmetics</title>
{% endblock %}

{% block body %}
<div class="container">
    <p class="roundb">Products by Categories</p>
    <!-- Category Title: Eyes -->
    <div class="row">
        <div class="col-md-6">
            <h4 class="font1" id="SEyes">Eyes</h4>
        </div>
        <div class="col-md-6">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ut dolor in eius, vitae totam!</p>
        </div>
    </div>
    <!-- Eyes -->
    <div class="row">
        {% for product in eye_products %}
        <div class="col-md-4">
            <img src="{{product.imageURL}}" alt="" class="card-img-top">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ product.productName}}</h5>
                    <p class="card-text">{{ product.productDescription }}</p>
                    <h6 class="card-title">{{ product.price }}</h6>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Lips -->
<div class="container">
    <!-- Category Title: Lips -->
    <div class="row">
        <div class="col-md-6">
            <h4 class="font1" id="SLips">Lips</h4>
        </div>
        <div class="col-md-6">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ut dolor in eius, vitae totam!</p>
        </div>
    </div>

    <div class="row">
        {% for product in lip_products %}
        <div class="col-md-4">
            <img src="{{product.imageURL}}" alt="" class="card-img-top">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ product.productName}}</h5>
                    <p class="card-text">{{ product.productDescription }}</p>
                    <h6 class="card-title">{{ product.price }}</h6>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Skin -->
<div class="container">
    <!-- Category Title: Skin -->
    <div class="row">
        <div class="col-md-6">
            <h4 class="font1" id="SLips">Skin</h4>
        </div>
        <div class="col-md-6">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ut dolor in eius, vitae totam!</p>
        </div>
    </div>

    <div class="row">
        {% for product in skin_products %}
        <div class="col-md-4">
            <img src="{{product.imageURL}}" alt="" class="card-img-top">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ product.productName}}</h5>
                    <p class="card-text">{{ product.productDescription }}</p>
                    <h6 class="card-title">{{ product.price }}</h6>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}