{% extends 'base.html' %}
{% block head %}
<title>Shop | Miss Jhaz Cosmetics</title>
<meta id="page-data" data-pageid="1" />
{% endblock %}

{% block body %}

<!-- Eyes -->
<div class="container">
    <p class="roundb">Products by Categories</p>

    <div class="row mt-3 mb-3">
        <div class="col-md-6">
            <h2 class="font1" id="SEyes">Eyes</h2>
        </div>
        <div class="col-md-6">
            <p class="par1 text-right">Your beauty shows in your eyes so let’s get that glam.
                <br>Try this out and you will love the way you look!
            </p>
        </div>
    </div>

    <div class="row">
        {% for product in eye_products %}
        <div class="col-lg-4 col-sm-6">
            <div class="card mb-3 mt-3" style="border-style: none;">
                <img src="{{product.imageURL}}" alt="{{product.productName}}" class="card-img-top product-img">
                <div class="shadow p-3 card-body pt-0" style="border-radius: 0 0 2rem 2rem;">
                    <h5 class="font1 card-title product-name">{{product.productName}}</h5>
                    <p class="product-id" hidden>{{product._id}}</p>
                    <div class="collapse" id="A{{product._id}}">
                        <div class="card-body collapse-custom p-0 pt-1 pb-1">
                            <hr>
                            {{product.productDescription}}
                            <hr>
                        </div>
                    </div>
                    <h6 class="font4 card-title font-weight-bold pt-0">PRICE:</h6>
                    <h5 class="font1 card-title product-price">₱{{product.price }}</h5>
                    <a href="/product/{{product._id}}" class="btn btn-main btn-view">View</a>
                    <button class="card-button addToWishlist">
                        <i class="bi bi-suit-heart-fill cat-icon" data-toggle="tooltip" data-placement="top"
                            title="Add to wishlist"></i>
                    </button>
                    <button class="card-button" data-target="#A{{product._id}}" data-toggle="collapse">
                        <i class="bi bi bi-caret-down-fill cat-icon" data-toggle="tooltip" data-placement="top"
                            title="Quick Info"></i>
                    </button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>


    <!-- Lips -->

    <div class="row mt-3 mb-3">
        <div class="col-md-6">
            <h2 class="font1" id="SLips">Lips</h2>
        </div>
        <div class="col-md-6">
            <p class="par1 text-right">Show those luscious lips with our affordable lips
                cosmetic collection. We’ve got plenty of options for you to choose from.
            </p>
        </div>
    </div>

    <div class="row">
        {% for product in lip_products %}
        <div class="col-lg-4 col-sm-6">
            <div class="card mb-3 mt-3" style="border-style: none;">
                <img src="{{product.imageURL}}" alt="{{product.productName}}" class="card-img-top product-img">
                <div class="shadow p-3 card-body pt-0" style="border-radius: 0 0 2em 2em;">
                    <h5 class="font1 card-title product-name">{{product.productName}}</h5>
                    <p class="product-id" hidden>{{product._id}}</p>
                    <div class="collapse" id="A{{product._id}}">
                        <div class="card-body collapse-custom p-0 pt-1 pb-1">
                            <hr>
                            {{product.productDescription}}
                            <hr>
                        </div>
                    </div>
                    <h6 class="font4 card-title font-weight-bold pt-0">PRICE:</h6>
                    <h5 class="font1 card-title product-price">₱{{product.price }}</h5>
                    <a href="/product/{{product._id}}" class="btn btn-main btn-view">View</a>
                    <button class="card-button addToWishlist">
                        <i class="bi bi-suit-heart-fill cat-icon" data-toggle="tooltip" data-placement="top"
                            title="Add to wishlist"></i>
                    </button>
                    <button class="card-button" data-target="#A{{product._id}}" data-toggle="collapse">
                        <i class="bi bi bi-caret-down-fill cat-icon" data-toggle="tooltip" data-placement="top"
                            title="Quick Info"></i>
                    </button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Skin -->

    <div class="row mt-3 mb-3">
        <div class="col-md-6">
            <h2 class="font1" id="SSkin">Skin</h2>
        </div>
        <div class="col-md-6">
            <p class="par1 text-right">Skin friendly products that will surely prompt the
                beauty out of you. Love yourself and adore your skin.
            </p>
        </div>
    </div>

    <div class="row">
        {% for product in skin_products %}
        <div class="col-lg-4 col-sm-6">
            <div class="card mb-3 mt-3" style="border-style: none;">
                <img src="{{product.imageURL}}" alt="{{product.productName}}" class="card-img-top">
                <div class="shadow p-3 card-body pt-0" style="border-radius: 0 0 2em 2em;">
                    <h5 class="font1 card-title product-name">{{product.productName}}</h5>
                    <p class="product-id" hidden>{{product._id}}</p>
                    <div class="collapse" id="A{{product._id}}">
                        <div class="card-body collapse-custom p-0 pt-1 pb-1">
                            <hr>
                            {{product.productDescription}}
                            <hr>
                        </div>
                    </div>
                    <h6 class="font4 card-title font-weight-bold pt-0">PRICE:</h6>
                    <h5 class="font1 card-title product-price">₱{{product.price }}</h5>
                    <a href="/product/{{product._id}}" class="btn btn-main btn-view">View</a>
                    <button class="card-button addToWishlist">
                        <i class="bi bi-suit-heart-fill cat-icon" data-toggle="tooltip" data-placement="top"
                            title="Add to wishlist"></i>
                    </button>
                    <button class="card-button" data-target="#A{{product._id}}" data-toggle="collapse">
                        <i class="bi bi bi-caret-down-fill cat-icon" data-toggle="tooltip" data-placement="top"
                            title="Quick Info"></i>
                    </button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}