{% extends 'base.html' %}
{% block head %}
<title>Checkout | Miss Jhaz Cosmetics</title>
{% endblock %}

{% block body %}
<div class="container">
    <nav class="sticky-top bg-white mt-2 pt-2">
        <h2 class="font1">Check out your products!</h2>
        <ul class="nav nav-tabs">
            <li class="nav-item ">
                <a class="nav-link tab-checkout" href="#">Information</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link tab-checkout" href="#">Shipping Options</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link tab-checkout" href="#">Payment</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link tab-checkout" href="#" tabindex="-1">Order Summary</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link tab-checkout" href="#" tabindex="-1">Finish</a>
            </li>
        </ul>
    </nav>
    <div class="row">
        <div class="col-md-8">
            <div class="alert alert-warning mt-2" id="alertECQ">
                <strong><i class="bi bi-info-circle-fill"></i></strong>
                Due to the implementation of community quarantine which limits transportation and mobility, delivery
                schedules may get affected. Thank you for your patience and understanding.
                <hr class="mb-1">
                <span class="text-danger">*</span>Required
            </div>
            <form action="{{url_for('confirmCheckout')}}" method="POST" id="checkoutForm" class="mt-2" autocomplete="off">
                <!-- Step 1 Basic Information -->
                <section class="form-step">
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="firstName">First Name<span class="text-danger">*</span></label>
                            <input type="text" class="form-control step1field" name="firstName" id="firstName">
                        </div>
                        <div class="form-group col">
                            <label for="lastName">Last Name<span class="text-danger">*</span></label>
                            <input type="text" class="form-control step1field" name="lastName" id="lastName">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="email">Email Address<span class="text-danger">*</span></label>
                            <input type="email" name="email" id="email" class="form-control step1field"
                                placeholder="Email Address">
                        </div>
                        <div class="form-group col">
                            <label for="username">Username</label>
                            <input type="text" name="username" id="username" class="form-control" placeholder="Username"
                                disabled>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="phone1">Phone Number<span class="text-danger">*</span></label>
                            <input type="tel" name="phone1" id="phone1" class="form-control step1field"
                                placeholder="+639911234567">
                        </div>
                        <div class="form-group col">
                            <label for="phone2">Phone Number 2 (optional)</label>
                            <input type="tel" name="phone2" id="phone2" class="form-control"
                                placeholder="+639911234567">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="billingAdd">Billing Address<span class="text-danger">*</span></label>
                            <input type="text" name="billingAdd" id="billingAdd" class="form-control step1field"
                                placeholder="Complete Address">
                        </div>
                        <div class="form-group col-md-12">
                            <label for="shipAdd">Shipping Address<span class="text-danger">*</span></label>
                            <input type="text" name="shipAdd" id="shipAdd" class="form-control step1field"
                                placeholder="Complete Address">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="region">Region<span class="text-danger">*</span></label>
                            <select name="region" id="region" class="custom-select">
                                <option selected>Choose Region</option>
                                <option value="Luzon">Luzon</option>
                                <option value="NCR">NCR</option>
                                <option value="Visayas">Visayas</option>
                                <option value="Mindanao">Mindanao</option>
                                <option value="Overseas">Overseas</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="province">Province<span class="text-danger">*</span></label>
                            <input type="text" class="form-control step1field" name="province" id="province">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="city">City/Town<span class="text-danger">*</span></label>
                            <input type="text" class="form-control step1field" name="city" id="city">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="zipcode">ZIP Code<span class="text-danger">*</span></label>
                            <input type="text" name="zipcode" id="zipcode" class="form-control step1field"
                                placeholder="5000" maxlength="4">
                        </div>
                    </div>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert" id="requiredAlert">
                        Please fill out required fields.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="form-row mt-3 card-footer">
                        <div class="form-group col-md-8">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">Shipping address is the same as
                                    billing
                                    address</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck2">
                                <label class="custom-control-label" for="customCheck2">Save information for next
                                    time</label>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <button class="btn btn-main mt-2 btn-block nextStep" type="button">Next</button>
                        </div>
                    </div>
                </section>
                <!-- Step 2 Shipping -->
                <section class="form-step">
                    <h3 class="font1">Courier Services</h3>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title font1">Courier Options</h5>
                            <select class="custom-select" name="courier" id="courier">
                                <option selected>Shipping Options</option>
                                <option value="LBC">LBC</option>
                                <option value="NinjaVan Integrated">NinjaVan</option>
                                <option value="J&T Express">J&T Express</option>
                            </select>
                            <h5 class="card-subtitle mt-2">Shipping to: <span id="regionPreview"></span></h5>
                            <h6 class="card-subtitle mb-4 mt-2 text-muted">Shipping Fee: ₱<span
                                    id="shipFeePreview"></span></h6>
                            <p class="card-text alert alert-info">Deliveries are expected to arrive in 3-5 days but may
                                vary
                                depending on your location. If you encounter any
                                problems, don’t hesitate to contact us and we’ll gladly help.
                            </p>
                        </div>
                        <div class="card-footer text-right">
                            <button class="btn btn-sub prevStep" type="button">Previous</button>
                            <button class="btn btn-main nextStep" type="button">Next</button>
                        </div>
                    </div>
                </section>
                <!-- Step 3 Payment -->
                <section class="form-step">
                    <h4 class="font1">Payments</h4>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title font1">Payment Methods</h5>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="creditCard" value="Credit Card" name="paymentMethod"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="creditCard">Credit Card</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="debitCard" value="Debit Card" name="paymentMethod"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="debitCard">Debit Card</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="COD" value="COD" name="paymentMethod"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="COD">Cash on Delivery</label>
                            </div>
                            <hr>
                            <section class="mt-3" id="payCard">
                                <div class="form-row">
                                    <div class="form-group col">
                                        <label for="cardName">Cardholder Name</label>
                                        <input type="text" name="cardName" id="cardName" class="form-control">
                                    </div>
                                    <div class="form-group col">
                                        <label for="cardNumber">Card Number</label>
                                        <input type="text" name="cardNumber" id="cardNumber" class="form-control"
                                            placeholder="1111-2222-3333-4444">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col">
                                        <label for="expiryDate">Expiry Date</label>
                                        <input type="month" class="form-control" name="expiryDate" id="expiryDate"
                                            min="2021-01-01" max="2035-01-01" placeholder="02/30">
                                    </div>
                                    <div class="form-group col">
                                        <label for="cvv">CVV</label>
                                        <input type="password" name="cvv" id="cvv" class="form-control" maxlength="3"
                                            placeholder="123">
                                    </div>
                                </div>
                            </section>
                            <p class="card-text">You will receive a confirmation email along with your receipt
                                and tracking number. Please make payment on delivery.
                            </p>
                        </div>
                        <div class="card-footer text-right">
                            <button class="btn btn-sub prevStep" type="button">Previous</button>
                            <button class="btn btn-main nextStep" type="button">Next</button>
                        </div>
                    </div>
                </section>
                <!-- Step 4 Summary -->
                <section class="form-step">
                    <h4 class="font1">Delivery Details</h4>
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title font2">Receiver Information</h4>
                            <h5 class="text-secondary"><i class="bi bi-person-fill"></i> Name</h5>
                            <p class="card-text">Full Name: <span id="fullName"></span></p>
                            <hr>
                            <h5 class="text-secondary"><i class="bi bi-geo-alt-fill"></i> Address</i></h5>
                            <p class="card-text mt-1 mb-1">Billing Address: <span id="billingAddFull"></span></p>
                            <p class="card-text mt-1 mb-1">Shipping Address: <span id="shippingAddFull"></span></p>
                            <p class="card-text mt-1 mb-1">City/Town: <span id="cityFinal"></span></p>
                            <p class="card-text mt-1 mb-1">Province: <span id="provinceFinal"></span></p>
                            <hr>
                            <h5 class="text-secondary"><i class="bi bi-telephone-fill"></i> Phone</i></h5>
                            <p class="mt-1 mb-1">Phone 1: <span id="phoneNumber1"></span></p>
                            <p class="mt-1 mb-1">Phone 2: <span id="phoneNumber2"></span></p>
                            <hr>
                            <h5 class="text-secondary"><i class="bi bi-envelope-fill"></i> Email</i></h5>
                            <p class="card-text"><span id="emailFull"></span></p>
                            <hr>
                            <h5 class="card-title font2">Ordered Products</h5>
                            <table class="table table-hover">
                                <thead class="font1">
                                    <tr>
                                        <th scope="col">Products</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Total Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="font2">Product 1</td>
                                        <td>1</td>
                                        <td>₱100</td>
                                        <td>₱100</td>
                                    </tr>
                                    <tr>
                                        <td class="font2">Product 2</td>
                                        <td>2</td>
                                        <td>₱50</td>
                                        <td>₱100</td>
                                    </tr>
                                    <tr>
                                        <td class="font2">Shipping Fee</td>
                                        <td></td>
                                        <td></td>
                                        <td>₱<span id="shipFeeFinal"></span></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="text-right">
                                <h6 class="card-title font2">Grand Total: <span id="grandTotal"
                                        class="text-muted">$100.00</span></h6>
                            </div>
                            <hr>
                            <div class="row text-center">
                                <div class="col">
                                    <h5 class="card-title font2">Payment Method</h5>
                                    <h6 class="card-subtitle"><span id="paymethodFinal"></span></h6>
                                </div>
                                <div class="col">
                                    <h5 class="card-title font2">Courier</h5>
                                    <h6 class="card-subtitle"><span id="courierFinal"></span></h6>
                                </div>
                                <div class="col">
                                    <h5 class="card-title font2">Shipping to</h5>
                                    <h6 class="card-subtitle"><span id="regionFinal"></span></h6>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-right">
                            <button class="btn btn-sub prevStep" type="button">Previous</button>
                            <button class="btn btn-main" type="submit">Place Order</button>
                        </div>
                    </div>
                </section>
            </form>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="https://upload.wikimedia.org/wikipedia/commons/1/13/Supermarkt.jpg" class="card-img-top"
                    alt="..." style="border-radius: 0;">
                <div class="card-body">
                    <h5 class="card-title">Cart</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename = 'js/checkoutForm.js')}}"></script>
{% endblock %}