{% extends 'base.html' %}

{% block head %}
<title>Featured | Miss Jhaz Cosmetics</title>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6 mb-5">
            <p class="roundb font-weight-800 position-absolute ">Featured Products</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="boxb card mb-3">
                <h4 class="font1 card-title mt-3 mb-1 m-title">Gelly Tatoo</h4>
                <img src="https://raw.githubusercontent.com/jjpormento21/project-photos-webdev/main/Miss%20Jhaz%20Beauty%20Cosmetics/LIPS/Gelly%20tatoo/gelly%20tatoo.jpg" alt="Gelly Tattoo" class="card-img img-size">
                <div class="card-body pt-0">
                    <p class="card-text" style="font-size: 0.9rem; margin-bottom: 2.5em;">The Gelly-Tattoo is everything your lips been waiting for. It gives that healthy blush look on make up as well and its highlights the natural lip color. If you want to use it as a blush, you can too and it's looks beautiful.</p>
                    <a href="#" class="btn btn-main">Add to Cart</a>
                    <a href="#" class="btn btn-sub mr-2">See More!</a>
                    <i class="bi bi-suit-heart-fill feat-icon"></i>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="boxb card mb-3">
                <h4 class="font1 card-title mt-3 mb-1 m-title">Eyeshadow Palette</h4>
                <img src="https://raw.githubusercontent.com/jjpormento21/project-photos-webdev/main/Miss%20Jhaz%20Beauty%20Cosmetics/EYES/Eyeshadow/eye%20shadow%20palette3.jpg" alt="Eyeshadow Palette" class="card-img img-size">
                <div class="card-body pt-0">
                    <p style= "margin-bottom: 5.5em; font-size: 0.9rem" class="card-text">Always have a classic vibe look with our Sakura Inspired Eyeshadow Palette 10 color shades + all the bright pigmented colors you desire.</p>
                    <a href="#" class="btn btn-main">Add to Cart</a>
                    <a href="#" class="btn btn-sub mr-2">See More!</a>
                    <i class="feat-icon mt-5 bi bi-suit-heart-fill"></i>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="boxb card">
                <h4 class="font1 card-title mt-3 mb-1 m-title">Creamy Blush</h4>
                <img src="https://raw.githubusercontent.com/jjpormento21/project-photos-webdev/main/Miss%20Jhaz%20Beauty%20Cosmetics/SKIN/Creamy%20blush/creamyblush2.jpg" alt="Creamy Blush" class="card-img img-size">
                <div class="card-body pt-0">
                    <p class="card-text" style="font-size: 0.9rem;">Jhaz Creamy Blush blends like silk and melts into skin like a cream but has the highly pigmented, long-wearing perks of a powder. This light-as-air cream blush has a fluffy, whipped texture that melts right into your skin as soon as you dab it on. </p>
                    <a href="#" class="btn btn-main">Add to Cart</a>
                    <a href="#" class="btn btn-sub mr-2">See More!</a>
                    <i class="bi bi-suit-heart-fill feat-icon"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1 class="font3 mt-5">Early Favorites 
                <br>of 2021</h1>
        </div>
        <div class="col-md-6 text-right mt-5">
            <p class="par1 mt-4">Check out our most rated and most wanted 
                <br>products from these past few months in the 
                <br>year 2021!</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4 mt-4">
            <img src="https://raw.githubusercontent.com/jjpormento21/project-photos-webdev/main/Miss%20Jhaz%20Beauty%20Cosmetics/LIPS/Powdery%20Lipmatte/169758735_1882384098596481_428297514699445289_n.jpg" alt="Powdery Lip Matte" class="shop-category">
        </div>
        <div class=" boxb col-md-4 mt-4">
            <h4 class="font2 mt-3 mb-3 m-title">Powdery Lip Matte</h4>
            <p class="par mb-5 ml-3"></p>
            <div class="card comment shadow">
                <div class="card-body">
                    <p class="par1" style="font-size: 0.9rem;">“It’s
                        an amazing lipstick that has a
                        matte finish I love how they have
                        many colors to choose from and the
                        fragrances of each are just lovely."</p> 
                </div>
            </div>
            <div class="mt-3 mb-3 m-title">
                <a href="#" class="btn btn-sub mt-5">See more</a>
            </div>
        </div>
        <div class="col-md-4 mt-3">
            <img src="https://raw.githubusercontent.com/jjpormento21/project-photos-webdev/main/Miss%20Jhaz%20Beauty%20Cosmetics/LIPS/Powdery%20Lipmatte/169426881_1142445402847753_7607819891225119035_n.jpg" alt="Powdery Lip Matte" class="shop-category">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class=" boxb col-md-4 mt-4">
            <h4 class="font2 mt-3 mb-3 m-title">Gelly Tattoo</h4>
            <p class="par mb-5 ml-3"></p>
            <div class="card comment shadow">
                <div class="card-body">
                    <p class="par1" style="font-size: 0.9rem;">“I
                        want to say ‘ to your tint
                        especially the Gelly Tattoo The bubble
                        gum fragrance smells lovely and it
                        doesn’t have that sticky feel Thank
                        you so much and God bless."</p> 
                </div>
            </div>
            <div class="mt-3 mb-3 m-title">
                <a href="#" class="btn btn-sub mt-5">See more</a>
            </div>
        </div>
        <div class="col-md-4 mt-4">
            <img src="https://raw.githubusercontent.com/jjpormento21/project-photos-webdev/main/Miss%20Jhaz%20Beauty%20Cosmetics/LIPS/Gelly%20tatoo/170026885_539916146980562_7436735733079330346_n.jpg" class="shop-category">
        </div>
        <div class="col-md-4 mt-3">
            <img src="https://raw.githubusercontent.com/jjpormento21/project-photos-webdev/main/Miss%20Jhaz%20Beauty%20Cosmetics/LIPS/Gelly%20tatoo/170147983_460538138517258_3712361724686415028_n.jpg" alt="Powdery Lip Matte" class="shop-category">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4 mt-4">
            <img src="https://raw.githubusercontent.com/jjpormento21/project-photos-webdev/main/Miss%20Jhaz%20Beauty%20Cosmetics/SKIN/Velvet%20Clay%20Blush/169478635_1544049159124087_3447920516195568323_n.jpg" class="shop-category">
        </div>
        <div class="col-md-4 mt-3">
            <img src="https://raw.githubusercontent.com/jjpormento21/project-photos-webdev/main/Miss%20Jhaz%20Beauty%20Cosmetics/SKIN/Velvet%20Clay%20Blush/168987770_534550111068060_75524008658346085_n.jpg" alt="Powdery Lip Matte" class="shop-category">
        </div>
        <div class=" boxb col-md-4 mt-4">
            <h4 class="font2 mt-3 mb-3 m-title">Velvet Clay Blush</h4>
            <p class="par mb-5 ml-3"></p>
            <div class="card comment shadow">
                <div class="card-body">
                    <p class="par1" style="font-size: 0.9rem;">“It
                        has a creamy texture but when
                        applied, it leaves a powdery finish
                        and it’s not heavy and not sticky at
                        all L et me just add that the product
                        itself is so cute it can fit any pocket!
                        Thank you for this I love it!”</p> 
                </div>
            </div>
            <div class="mt-3 mb-3 m-title">
                <a href="#" class="btn btn-sub mt-5">See more</a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4 mt-5">
            <div class="mb-3">
                <h2 class="font3">Best of 2020</h2>
                <p class="card-text" style="font-size: 0.9rem;">Most wanted products of the year 2020 you might want to have. Still available, still affordable.</p>
                <a href="#" class="btn btn-main btn-block">View All</a>
            </div>
        </div>
        <div class="col-md-4 mt-5">
            <div class="boxb card mb-3">
                <h4 class="font2 card-title mt-3 m-title">HD Matte Lipstick</h4>
                <div class="card-body">
                    <div class="mb-5">
                        <img src="" alt="Julia" class="d-inline">
                        <p class="card-text d-inline" style="font-size: 0.9rem;">“It feels great on my lips and the shade of Tutti Fruity suits me very well I love it!”</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-5">
            <div class="boxb card">
                <h4 class="font2 card-title mt-3 m-title">Gluta Milk Lotion</h4>
                <div class="card-body">
                    <div>
                        <img src="" alt="Julia" class="d-inline">
                        <p class="card-text d-inline" style="font-size: 0.9rem;">“Gluta Milk Lotion made my skin soft and smooth It’s not sticky and reallywhitened my skin It’s 100% effective. Thank you and God bless!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}