{% extends 'base.html' %}

{% block head %}
<title>Featured | Miss Jhaz Cosmetics</title>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6 mb-5">
            <p class="roundb font-weight-800 position-absolute ">Featured Products</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="boxb card mb-3">
                <h4 class="font1 card-title mt-3"><center>Gelly Tatoo</center></h4>
                <img src=""
                    alt="" class="card-img-top">
                <div class="card-body">
                    <p class="card-text">The Gelly-Tattoo is everything your lips been waiting for. It gives that healthy blush look on make up as well and its highlights the natural lip color. If you want to use it as a blush, you can too and it's looks beautiful.</p>
                    <a href="#" class="btn btn-main">Add to Cart</a>
                    <a href="#" class="btn btn-sub mr-2">See More!</a>
                    <i class="bi bi-suit-heart-fill feat-icon"></i>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="boxb card mb-3">
                <h4 class="font1 card-title mt-3"><center>Eyeshadow Palette</center></h4>
                <img src=""
                    alt="" class="card-img-top">
                <div class="card-body">
                    <p style= "margin-bottom: 4em;" class="card-text">Always have a classic vibe look with our Sakura Inspired Eyeshadow Palette 10 color shades + all the bright pigmented colors you desire.</p>
                    <a href="#" class="btn btn-main">Add to Cart</a>
                    <a href="#" class="btn btn-sub mr-2">See More!</a>
                    <i class="feat-icon mt-5 bi bi-suit-heart-fill"></i>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="boxb card">
                <h4 class="font1 card-title mt-3"><center>Creamy Blush</center></h4>
                <img src=""
                    alt="" class="card-img-top">
                <div class="card-body">
                    <p class="card-text">Jhaz Creamy Blush blends like silk and melts into skin like a cream but has the highly pigmented, long-wearing perks of a powder. This light-as-air cream blush has a fluffy, whipped texture that melts right into your skin as soon as you dab it on. </p>
                    <a href="#" class="btn btn-main">Add to Cart</a>
                    <a href="#" class="btn btn-sub mr-2">See More!</a>
                    <i class="bi bi-suit-heart-fill feat-icon"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1 class="font1 mt-5">Early Favorites 
                <br>of 2021</h1>
        </div>
        <div class="col-md-6 text-right mt-5">
            <p class="par mt-4">Check out our most rated and most wanted 
                <br>products from these past few months in the 
                <br>year 2021!</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4 mt-4">
            <a href=""><img src="https://raw.githubusercontent.com/jjpormento21/project-photos-webdev/main/Miss%20Jhaz%20Beauty%20Cosmetics/LIPS/Velvet%20lipcream%20and%20magic%20lipgloss/dual%20combi.png" alt="Velvet Lip-gloss" class="shop-category"></a>
        </div>
        <div class=" boxb col-md-4 mt-4">
            <h4 class="font1 mt-3 mb-3"><center>Magic Lipsticks</center></h4>
            <p class="par mb-5 ml-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
            <!-- Insert something here-->
            <div class="mt-3">
                <center><a href="#" class="btn btn-sub mt-5">See more</a></center>
                
                <center><a href="#" class="btn btn-main mt-3 mb-4">Add to Cart</a></center>
            </div>
        </div>
        <div class="col-md-4 mt-3">
            <a href=""><img src="https://raw.githubusercontent.com/jjpormento21/project-photos-webdev/main/Miss%20Jhaz%20Beauty%20Cosmetics/Collage1.png" alt="Velvet Lip-gloss" class="shop-category"></a>
        </div>
    </div>
</div>

{% endblock %}