{% extends 'base.html' %}
{% block head %}
<title>Feedback Hub | Miss Jhaz Cosmetics</title>
<meta id="page-data" data-pageid="3" />
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="font1 mt-3">Customer Reviews</h1>
    <button type="button" class="btn btn-main btn-lg mt-2" data-toggle="modal" data-target="#exampleModal">Create
        Feedback</button>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title font1" id="exampleModalLabel">New Post</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{{url_for('postFeedback')}}" method="POST">
                        <div class="form-group">
                            <label for="username" class="col-form-label par1">Username:</label>
                            <input type="text" class="form-control" id="username" name="username" placeholder="Username"
                                required>
                        </div>
                        <div class="form-group">
                            <label for="select-product" class="col-form-label par1">Select Product:</label>
                            <br>
                            <select class="form-select form-control" aria-label="Default select example"
                                name="productName" required>
                                <option selected>Select Product</option>
                                {% for product in products %}
                                <option value="{{product.productName}}">{{product.productName}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="feedback" class="col-form-label par1">Feedback:</label>
                            <textarea class="form-control" id="feedback" name="feedback" placeholder="Write a review"
                                required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="product-rating" class="col-form-label par1">Rating:</label>
                            <input type="number" value="1" min="1" max="5" class="form-control" id="product-rating"
                                name="product-rating">
                        </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sub" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-main">Post</button>
                </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Customer Reviews -->
    <div class="row mt-5">
        <div class="card col-lg-4 col-sm-6 mb-3" style="border-style: none;">
            <div class="shadow p-3 card-body pt-0" style="border-radius: 1.5rem;">
                <img src="https://raw.githubusercontent.com/jjpormento21/project-photos-webdev/main/Miss%20Jhaz%20Beauty%20Cosmetics/188870245_4254213638004082_5868078760534254236_n.jpg"
                    alt="Jessa" class="img-size1">
                <i class="bi bi-envelope-fill review-icon"></i>
                <h3 class="card-title font2 mt-3 text-center">Jessa Mae Nopueto</h3>
                <p class="card-text par1" style="margin-bottom: 3.9rem;">“This
                    shop is my go to shop for budget
                    friendly yet high quality products.
                    Though I wish they had more
                    eyeshadow palette to choose from."</p>
                <i class="bi bi-chat-square-quote-fill quotation-icon"></i>
            </div>
        </div>
        <div class="card col-lg-4 col-sm-6 mb-3" style="border-style: none;">
            <div class="shadow p-3 card-body pt-0" style="border-radius: 1.5rem;">
                <img src="https://raw.githubusercontent.com/jjpormento21/project-photos-webdev/main/Miss%20Jhaz%20Beauty%20Cosmetics/188815777_978372612929586_1399970486282708918_n.jpg"
                    alt="Jessa" class="img-size1">
                <i class="bi bi-envelope-fill review-icon"></i>
                <h3 class="card-title font2 mt-3 text-center">Joshreen Reyes</h3>
                <p class="card-text par1" style="margin-bottom: 2.5rem;">“I
                    ordered different types of
                    lipsticks and lip glosses here for me
                    to try and was happy with how fast
                    it came. However, I received a
                    lipstick with a crack on it’s cap and
                    the other one is a wrong color."</p>
                <i class="bi bi-chat-square-quote-fill quotation-icon"></i>
            </div>
        </div>
        <div class="card col-lg-4 col-sm-6 mb-3" style="border-style: none;">
            <div class="shadow p-3 card-body pt-0" style="border-radius: 1.5rem;">
                <img src="https://raw.githubusercontent.com/jjpormento21/project-photos-webdev/main/Miss%20Jhaz%20Beauty%20Cosmetics/189139810_483506729583217_6626520472824708206_n.jpg"
                    alt="Jessa" class="img-size1">
                <i class="bi bi-envelope-fill review-icon"></i>
                <h3 class="card-title font2 mt-3 text-center ">Julia Carabano</h3>
                <p class="card-text par1">“It’s
                    my first time purchasing here and
                    the products are all good. However,
                    there’s an item where I received a
                    wrong color of lipstick. I guess it’s kind
                    of ok. I messaged the shop and the
                    seller is responsive to my concern."</p>
                <i class="bi bi-chat-square-quote-fill quotation-icon"></i>
            </div>
        </div>

        <div class="card col-lg-4 col-sm-6 mb-3" style="border-style: none;">
            <div class="shadow p-3 card-body pt-0" style="border-radius: 1.5rem;">
                <img src="https://raw.githubusercontent.com/jjpormento21/project-photos-webdev/main/Miss%20Jhaz%20Beauty%20Cosmetics/187146180_291478889287044_314538694655535209_n.jpg"
                    alt="Jirah" class="img-size1">
                <i class="bi bi-envelope-fill review-icon"></i>
                <h3 class="card-title font2 mt-3 text-center">Jirah Kate Solano</h3>
                <p class="card-text par1" style="margin-bottom: 2.5rem;">“The
                    products are well packaged and
                    the delivery is quite fast. Definitely
                    ordering again!”</p>
                <i class="bi bi-chat-square-quote-fill quotation-icon"></i>
            </div>
        </div>
        <div class="card col-lg-4 col-sm-6 mb-3" style="border-style: none;">
            <div class="shadow p-3 card-body pt-0" style="border-radius: 1.5rem;">
                <img src="https://raw.githubusercontent.com/jjpormento21/project-photos-webdev/main/Miss%20Jhaz%20Beauty%20Cosmetics/189291499_173529744579598_695043480674657752_n.jpg"
                    alt="Pitta" class="img-size1">
                <i class="bi bi-envelope-fill review-icon"></i>
                <h3 class="card-title font2 mt-3 text-center">Pitta Palmares</h3>
                <p class="card-text par1" style="margin-bottom: 4rem;">“I
                    just love your velvet clay blush. It’s
                    not sticky at all and it stays on my face
                    all day.”</p>
                <i class="bi bi-chat-square-quote-fill quotation-icon"></i>
            </div>
        </div>
        <div class="card col-lg-4 col-sm-6 mb-3" style="border-style: none;">
            <div class="shadow p-3 card-body pt-0" style="border-radius: 1.5rem;">
                <img src="https://raw.githubusercontent.com/jjpormento21/project-photos-webdev/main/Miss%20Jhaz%20Beauty%20Cosmetics/188863180_1647572295453994_1197976734689615115_n.jpg"
                    alt="Shaina" class="img-size1">
                <i class="bi bi-envelope-fill review-icon"></i>
                <h3 class="card-title font2 mt-3 text-center">Shaina Laquihon</h3>
                <p class="card-text par1">“I’ve
                    been purchasing here for a while
                    now and it’s so worth it. The price is
                    cheap and the products are not
                    disappointing. Thank you!”</p>
                <i class="bi bi-chat-square-quote-fill quotation-icon"></i>
            </div>
        </div>
    </div>

    <!-- Public Reviews -->
    <h1 class="font1 mt-3">Public Reviews</h1>
    <div class="row">
        {% for review in reviews %}
        <div class="col-lg-4 col-sm-6">
            <div class="card mb-3 mt-3" style="border-style: none;">
                <div class="shadow p-3 card-body text-center pt-0" style="border-radius: 1.5rem;">
                    <i class="bi bi-person-circle font1 person-icon"></i>
                    <i class="bi bi-envelope-fill review-icon text-right"></i>
                    <h3 class="card-title font2 mt-3">{{review.username}}</h3>
                    <h5 class="card-title">{{review.productName}}</h5>
                    <p class="card-text mb-3">{{review.feedback}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}