{% extends 'base.html' %}

{% block head %}
<title>Home | Miss Jhaz Cosmetics</title>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <p class="roundb font-weight-normal position-absolute"> Grab yours now! </p>
            <h1 class="font1 mt-4">Enjoy Great Deals of Beauty Essentials!</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum voluptatem molestias laborum doloribus recusandae ex nam inventore nobis sapiente quasi? Minima quaerat ullam sapiente laudantium fuga quas vero distinctio aliquam?</p>
            <h6 class="btn btn-main">Shop Now</h6>
        </div>
        <div class="col-md-3">
            eyyyy
        </div>
        <div class="col-md-3">
            another one
        </div>
    </div>
</div>

<div class="container shadow p-3 mb-5 mt-5 bg-white" style="border-radius: 32px;">
    <div class="row">
        <div class="col-md-4 text-center">
            <h1 class="icon"><i class="bi bi-truck"></i></h1>
            <h6 class="font1">FAST DELIVERY</h6>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat provident illum cumque molestias praesentium sunt nisi quas quibusdam quos reiciendis minima assumenda explicabo dolore, libero labore quae! Nesciunt, eligendi labore?</p>
        </div>
        <div class="col-md-4 text-center">
            <h1 class="icon"><i class="bi bi-emoji-laughing-fill"></i></h1>
            <h6 class="font1">100% SATISFACTION</h6>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro pariatur harum atque vero praesentium itaque eaque nihil ea, beatae cumque nisi repellendus quod accusamus officiis, rerum quasi quaerat ad eos?</p>
        </div>
        <div class="col-md-4 text-center">
            <h1 class="icon"><i class="bi bi-bag"></i></h1>
            <h6 class="font1">EASY RETURN</h6>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque reiciendis, molestiae maxime minima maiores veritatis, in ipsa distinctio quisquam provident a animi optio ipsam et earum! Voluptatem sint facere consequuntur?</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <p class="roundb font-weight-normal position-absolute">Shop</p>
            <h4 class="font1 mt-4">Products by Category</h4>
        </div>
    <div class="col-md-6 text-right mt-4">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia provident veritatis dolor natus nihil? Quasi ad obcaecati eius ipsum explicabo, inventore, neque, necessitatibus nemo iste sequi possimus exercitationem libero architecto?</p>
    </div>
    </div>
</div>
{% endblock %}