{% extends 'base.html' %}{% block head %}
<title>Home</title>
<!--Fonts-->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm">
            <p class="roundb">Grab yours now!</p>
            <h1 class="font1""> Hello i am a font that is different</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum voluptatem molestias laborum doloribus recusandae ex nam inventore nobis sapiente quasi? Minima quaerat ullam sapiente laudantium fuga quas vero distinctio aliquam?</p>
            <h6></h6>
        </div>
        <div class="col-sm">
            One of three columns
        </div>
    </div>
</div>
{% endblock %}