{% extends 'base.html' %}

{% block head %}
<title>Home | Miss Jhaz Cosmetics</title>
{% endblock %}

{% block body %}
<!-- Hero -->
<div class="container">
    <div class="row">
        <div class="col-md-6 mt-5">
            <p class="smallb position-absolute"> Grab yours now! </p>
            <h1 class="font1 mt-4">Enjoy Great
                <br>Deals of Beauty
                <br>Essentials!
            </h1>
            <p class="par">Discover cosmetics that fits your budget
                <br> and will surely spice up your glam.
            </p>
            <a href="/shop" class="btn btn-main">Shop now</a>
        </div>
        <div class="col-md-6 mt-3">
            <img class="hero-img"
                src="https://raw.githubusercontent.com/jjpormento21/project-photos-webdev/main/Miss%20Jhaz%20Beauty%20Cosmetics/Collage.png"
                alt="">
        </div>
    </div>
</div>

<!-- Facts -->
<div class="container shadow p-3 mb-5 mt-5 bg-white" style="border-radius: 32px;">
    <div class="row">
        <div class="col-md-4 text-center">
            <i class="bi bi-truck icon"></i>
            <h6 class="font1">FAST DELIVERY</h6>
            <p class="par">With our same-day delivery you can enjoy fast and reliable service for every purchase in our
                store. No more counting days because we got you covered.</p>
        </div>
        <div class="col-md-4 text-center">
            <i class="bi bi-emoji-laughing-fill icon"></i>
            <h6 class="font1">100% SATISFACTION</h6>
            <p class="par">We want you to be completely satisfied with every purchase you make so feel free to message
                us with your suggestions.</p>
        </div>
        <div class="col-md-4 text-center">
            <i class="bi bi-bag icon"></i>
            <h6 class="font1">EASY RETURN</h6>
            <p class="par">If you are unsatisfied with the item you ordered or have any other problems with your
                package, we have you covered with our Free and Easy Return Policy. </p>
        </div>
    </div>
</div>


<!-- Showcase -->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <p class="roundb font-weight-800 position-absolute">Shop</p>
            <h4 class="font1 mt-5">Products by
                <br>Category
            </h4>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4 mt-4 showcase">
            <!-- Lips -->
            <img src="https://raw.githubusercontent.com/jjpormento21/project-photos-webdev/main/Miss%20Jhaz%20Beauty%20Cosmetics/LIPS/Powdery%20Lipmatte/169339897_718375038928116_7214806097751423152_n.jpg?token=AOJEMRVRBZ3UGM6WDQ3HDOTAR6PXW"
                alt="Lips" class="shop-category">
            <div class="card showcase-card br-custom shadow-lg">
                <div class="card-body text-center">
                    <h2 class="card-title font1">Lips</h2>
                    <p>Offering skin friendly lipsticks for
                        you. Get your extravaganza look
                        with our trendy and awesome wide
                        range of lip products.</p>
                    <a href="/shop#SLips" class="btn btn-main btn-lg">Explore</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-4">
            <!-- Eyes -->
            <img src="https://raw.githubusercontent.com/jjpormento21/project-photos-webdev/main/Miss%20Jhaz%20Beauty%20Cosmetics/EYES/Eyeshadow/169832880_794308634801284_3173780341732447407_n.jpg?token=AOJEMRUAIA7GFDERXE5G5WLAR6PT6"
                alt="Eyes" class="shop-category">
            <div class="card showcase-card br-custom shadow-lg">
                <div class="card-body text-center">
                    <h2 class="card-title font1">Eyes</h2>
                    <p>Boost your charm and enhance 
                        your look. Nothing is perfect but 
                        your makeup can be.</p>
                    <a href="/shop#SEyes" class="btn btn-main btn-lg">Explore</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-4">
            <!-- Skin -->
            <img src="https://raw.githubusercontent.com/jjpormento21/project-photos-webdev/main/Miss%20Jhaz%20Beauty%20Cosmetics/SKIN/Velvet%20Clay%20Blush/168987770_534550111068060_75524008658346085_n.jpg?token=AOJEMRSQE75T6DR5I53OJ3DAR6PPS"
                alt="Skin" class="shop-category">
            <div class="card showcase-card br-custom shadow-lg">
                <div class="card-body text-center">
                    <h2 class="card-title font1">Skin</h2>
                    <p>We care for your confidence so do 
                        yourself a favor and get renewed. 
                        Check out our skin products because 
                        it might be just what you need.</p>
                    <a href="/shop#SSkin" class="btn btn-main btn-lg">Explore</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- New Arrivals -->
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <p class="roundb font-weight-800 position-absolute">Featured</p>
            <h4 class="font1 mt-5">New
                <br>Arrivals
            </h4>
        </div>
        <div class="col-md-6 text-right mt-5">
            <p class="par">Thinking about trying something new? Explore our new arrived products and you’ll never run
                out of options. Grab yours now!</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4 mt-4">
            <a href="/product/60a2135229b736765c387ec8"><img
                    src="https://raw.githubusercontent.com/jjpormento21/project-photos-webdev/main/Miss%20Jhaz%20Beauty%20Cosmetics/LIPS/Velvet%20lipcream%20and%20magic%20lipgloss/dual%20combi.png"
                    alt="Velvet Lip-gloss" class="shop-category"></a>
        </div>
        <div class="col-md-4 mt-5">
            <h3 class="font1 mb-3">Velvet Lip Cream Magic Lip-gloss 2n1</h3>
            <h5 class="font1">Price: 170.00 PHP</h5>
            <p class="par mb-5">Say yes to velvety goodness. Nourish your kissers with our extra hydrating velvet lip
                cream, which protects and conditions with Vitamin E and camellia oil. One swipe is all you need for
                full, creaseless coverage-you get a beautiful solid hue with a smooth satin finish every single time.
            </p>
            <hr>
            <div>
                <h4 class="font1">Order Now!</h3>
            </div>
            <div class="mt-3">
                <a href="#" class="btn btn-main mr-2">Add to Cart</a>
                <a href="/product/60a2135229b736765c387ec8" class="btn btn-sub">See more</a>
            </div>
        </div>
        <div class="col-md-4 mt-4">
            <a href=""><img
                    src="https://raw.githubusercontent.com/jjpormento21/project-photos-webdev/main/Miss%20Jhaz%20Beauty%20Cosmetics/Collage1.png"
                    alt="Velvet Lip-gloss" class="shop-category"></a>
        </div>
    </div>
</div>


{% endblock %}