{% extends 'base.html' %}
{% block head %}
<title>Shop | Miss Jhaz Cosmetics</title>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2 class="font2 mt-3" id="#">Eyebrow Pomade 2N1</h2>
            <p class="par1 mt-4"> Eyebrow pomade upgraded in 2n1 shades that you can use for lighter or darker your brow. Our ultimate brow pomade allows you to create the perfect brow. It includes a detachable brush for easy application.</p>
            <h5 class="font4 card-title font-weight-bold pt-0 mt-5" style="font-size: 1.2rem;">Price:</h5>
            <h3 class="font1 card-title">₱100.00</h3>
        </div>
        <div class="col-md-6">
            <img src="https://raw.githubusercontent.com/jjpormento21/project-photos-webdev/main/Miss%20Jhaz%20Beauty%20Cosmetics/EYES/Eyebrow%20promade/2n1%20eyebrow%20promade.jpg"
                alt="Eyebrow Pomade 2N1" class="prod-size center mb-3">
            <label for="quantity" class="font1" style="margin-left: 5.5rem;">Quantity</label>
            <div>
                <input type='number' name="quantity" value="1" min="1" style="margin-left: 5.5rem;">
                <a href="/cart" class="btn btn-main" style="margin-left: 9rem;">Add to Cart</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}